*{
    list-style: none;
}
section{
    height: 84vh !important;
}
nav{
    height: 8vh;
}
footer{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 8vh;
}
#avatarHeader{
    border: black 3px solid;
    width:35px;
    height:35px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVgcJh843HRH8eJ1JOWGrVVdJnRWau9-8Up4U1dvt5hGOJGY6B&s") no-repeat;
    background-size: contain;
}
.bg-color{
    background: #861200;
}

.pointer{
    cursor: pointer;
}

.black{
    background: black;
}
.red{
    background: red;
}

.fill { 
    min-height: 100%;
    height: 100%;
}
.UniqueRegular{
    font-family: 'UniqueRegular';
    font-weight: normal;
    font-style: normal;
}

.FuturaRennerRegular {
    font-family: 'FuturaRennerRegular';
    font-weight: normal;
    font-style: normal;
} 

@media (max-width: 768px) {
    .section-slide-md{
        height: 100% !important;
    }
    
}