


.border{
    border: black 1px solid;
}
.border-t{
    border-top: black 1px solid;
}
.border-r{
    border-right: black 1px solid;
}
.border-b{
    border-bottom: black 1px solid;
}
.border-l{
    border-left: black 1px solid;
}

.z-index-0{
    z-index: 0;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}


.center-v{
    display: flex;
    align-items: center;
}
.center-h{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.underline{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}

